*{
    margin: 0;
    padding: 0;
}

.formContainer{
    background-color:  rgb(36, 41, 88);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper{
    padding: 23px;
    background-color: white;
    padding-top: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    height: 67%;
}

p{
    margin-top: 15px;
}

.registerForm{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* border : 1px solid red; */
  }

.register-header h1{
    font-size: 35px;
    color:black;
  }

.registerForm input{
    border: none;
    /* border-bottom: 0.5px solid rgb(189, 184, 184); */
    margin: 10px;
    padding: 10px;
    padding-left: 0px;
    margin-left: 1px;
    width: 300px;
    outline: none;
    font-size: 14px;
}

#user-div,#pwd-div{
    width: 90%;
    height: 42px;
    /* margin-top: 25px; */
    /* border: 1.5px groove black; */
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    /* padding-left: 10px;
    padding-top: 10px; */
    border-bottom: 0.5px solid rgb(189, 184, 184);
  }

  #user-div{
    margin-bottom: 15px;
  }

.btn-1{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(36, 59, 208);
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 200px;
    border:none
}
/* 
.last{
    margin: 20px;
    margin-top: 15px;
    font-size: 12px;
} */

.input-file{
    margin-top :10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-file :hover{
    cursor: pointer;
}

.input-file img{
    height: 30px;
}
.input-file span{
    margin-left: 10px;
}

.last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-top: 10px;
  }

  .last p{
    font-size: 13px;
  }

 