*{
    margin: 0;
    padding: 0;
}

.home{
    display: flex;
    background-color: rgb(187, 191, 228);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.window{
    height: 75%;
    width: 70%;
    background-color: white;
    display: flex;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar{
    width: 33%;
    display: flex;
    flex-direction: column;
    border-right: none;
    background-color: rgb(71, 80, 161);
}

.chat{
    flex: 2;
}

.nav{
    height: 65px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(27, 42, 93);
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/* .logo{
    font-weight: bold;
    color: white;
} */

.user-self{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-self span{
    font-size: 20px;
    color: white;
}

.user-self img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.user-self button{
    background-color: rgb(82, 106, 172);
    color: white;
    font-size: 13px;
    border: none;
    padding: 8px;
    width: 75px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 80px;
}

.search{
    background-color: rgb(50, 59, 135);
    border-bottom: 1px solid rgb(255, 255, 255,0.50);
    /* border-bottom: 2px solid rgb(1, 8, 19); */
}

.input{
    padding: 10px;
    align-items: center;
    background-color: inherit;
}
.input input{
    background-color: inherit;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
}

.input input::placeholder{
    color: rgb(255, 255, 255);
}



.user{
    display: flex;
    gap:10px;
    align-items: center;
    padding: 10px;
    background-color: rgb(71, 80, 161);
    width: inherit;
    /* border-bottom: 1px solid rgb(255, 255, 255,0.25); */
}

.user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.user span{
    color: white;
}

.user:hover{
    cursor: pointer;
    background-color: rgb(27, 42, 93);
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info span{
    font-size: 15px;
    font-weight: bold;
}

.user-info p{
    font-size: 12px;
    margin: 0;
    color: rgb(5, 5, 5);
}

.sidebarchat{
    background-color: rgb(46, 73, 140);
    overflow-y: auto;
}

.chat{
    display: flex;
    flex-direction: column;
}

.chat-message-window{
    box-sizing: border-box;
    background-color: rgb(221, 225, 232);
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat-message-window p{
    font-size: 25px;
}


.upper{
    box-sizing: border-box;
    height: 66px;
    display: flex;
    background-color: rgb(38, 60, 118);
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    gap: 10px;
}

.upper span{
    color: white;
    font-size: 18px;
    /* font-weight: bold; */
}

.upper img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.chat-empty{
    width: 67%;
    box-sizing: border-box;
    background-color: rgb(140, 178, 241);
    /* padding: 10px; */
    height: 1000%;
    /* flex: 2; */
    margin: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
}

#chat-empty-p{
    display: inline;
    color: black;
    display: inline;
}


.message-window{
    box-sizing: border-box;
    background-color: rgb(195, 204, 218);
    padding: 10px;
    height: 80%;
    overflow-y: scroll;
}

.message-input{
    height: 25px;
    padding: 15px;
    background-color: rgb(240, 232, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-input input{
    border: none;
    outline:none;
    background-color: inherit;
    padding: 5px;
    font-size: 18px;
    color: black;
    width: 400px;
}

.send{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 2px;
}

.send img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}


.btn-send{
    padding:5px;
    cursor: pointer;
    background-color: rgb(78, 102, 164);
    border: none;
    color: white;
    width: 50px;
    height: 30px;
}

.message{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-owner{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.message-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message-info img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.message-info span{
    font-size: 12px;
    color: gray;
}

.message-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.message-content img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.message-content span{
    padding: 9px 15px;
    margin: 10px;
    background-color: white;
    font-size: 15px;
    border-radius: 0px 10px 10px 10px;
}

.message-owner{
    .message-content span{
        border-radius: 10px 0px 10px 10px;
        background-color: rgb(131, 168, 213);
}
}
